The Bombay Stock Exchange (BSE. The National Stock Exchange (NSE). Calcutta Stock Exchange Ltd. Metropolitan Stock Exchange (MSE). India International Exchange (India INX). NSE IFSC Ltd etc…. Most.pdf